.background-color {
    background-color: white; 
    color:black;
    
  }

  body {
    overflow: hidden; /* Hide scrollbars */
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    overflow-y: auto; /* Allow vertical scrolling if needed */
  }

