.nav-link.active {
    background-color: white; 
    color:black !important;
}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.font-custom {
    font-family: 'Fjalla One', sans-serif;
}
  
  .nav-link {
    display: flex;
    align-items: center;
  }
  
  .nav-link span {
    margin-right: 10px; 
  }

  .navbar-brand {
    padding-left: 20px; 
    margin-right: 20px; 
  }