.smile-icon {
  font-size: 6vw; /* 5% of the viewport width. */
  padding-left: 1em;
  padding-right: 20px;
  padding-top: 5px;
}

.thumbs-up-icon {
  font-size: 6vw; /* 5% of the viewport width. */
  padding-left: 1em;
  vertical-align: top;
  padding-right: 20px;
  padding-top: 5px;
}

.jenkins-icon {
  font-size: 10vw; /* 5% of the viewport width. */
  color: black;
  vertical-align: top;
  margin-left: 9%;
}

.linux-icon {
  font-size: 10vw; /* 5% of the viewport width. */
  color: black;
  vertical-align: top;
  margin-left: 61%;
}

.smile-icon-one {
  font-size: 10vw; /* 5% of the viewport width. */
  color: black;
  vertical-align: top;
  margin-left: 61%;
}

.bike-icon {
    font-size: 6vw; /* 5% of the viewport width. */
    color: rgb(112, 228, 112);
    vertical-align: bottom;
  }

  .bike-icon-two {
    font-size: 5vw; /* 5% of the viewport width. */
    color: rgb(50, 205, 50);
    vertical-align: bottom;
    margin-left: 2%;
  }

  .bike-icon-three {
    font-size: 4vw; /* 5% of the viewport width. */
    color: rgb(0, 128, 0);
    vertical-align: bottom;
    margin-left: 2%;
  }

  .bike-icon-four {
    font-size: 3vw; /* 5% of the viewport width. */
    color: rgb(0, 100, 0);
    vertical-align: bottom;
    margin-left: 2%;
  }

  .bike-icon-five {
    font-size: 2vw; /* 5% of the viewport width. */
    color: rgb(0, 64, 0);
    vertical-align: bottom;
    margin-left: 2%;
  }

  .white-text-link {
    color:  rgb(34, 139, 34);
    font-weight: bold;
    /* margin-bottom: 3vm; */
  }


  .green-text-bubble {
    background-color: green;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 0px 0;
    width: 85% !important; /* Adjust the width as needed  clip-path: polygon(0 0, 100% 0, 100% 80%, 75% 80%, 75% 100%, 50% 80%, 0% 80%); */
    clip-path: polygon(0% 7%, 100% 7%, 100% 80%, 75% 80%, 75% 100%, 50% 80%, 0% 80%);
    font-size: min(max(1.5vw, 16px), 4vw); /* 1.5vw is the default font size based on the viewport width.
    14px is the minimum font size.
    4vw is the maximum font size. */
  }
  
  /* Style for text inside green card one */
  .green-text-bubble div {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  
  .button-padding {
    margin-bottom: 3em;
  }

  .link-text {
   color: white;
  }

  .styling-for-click {
    padding-top: 10px;
    font-size: min(max(1.5vw, 16px), 4vw);
  }
  
  .light-green-text-bubble {
    background-color: rgb(46, 186, 46);
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 0px 0;
    width: 80% !important; /* Adjust the width as needed  clip-path: polygon(0 0, 100% 0, 100% 80%, 75% 80%, 75% 100%, 50% 80%, 0% 80%); */
    clip-path: polygon(0% 7%, 100% 7%, 100% 80%, 50% 80%, 25% 100%, 25% 80%, 0% 80%);
    font-size: min(max(1.5vw, 16px), 4vw);
  }

  .light-green-text-bubble div {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
  }
